body {
    background-image: url(images/bg-portfolio.png);
    background-color:rgb(41,40,40);    
}

#header {
    border: solid;
    border-color: chartreuse;
    border-radius: 15px;
    background-color:rgb(41,40,40);
    color: whitesmoke;
}

#footer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border: solid;
    border-color: chartreuse;
    border-radius: 15px;
    background-color:rgb(41,40,40);
    color: whitesmoke;

}

font-family: 'Amita', cursive;

font-family: 'Grenze Gotisch', cursive;